body{
       background-color: lightgoldenrodyellow;
       margin: 5px;
       font-family: sans-serif;
}

* {
     margin: 0%; 
     padding: 0%; }
 .cabecalho{
        color: black; 
        display: flex;
        justify-content: space-around; 
        align-items: center; 
        padding: 24px 0; } 
     
 .cabecalho_imagem{
        width: 12%; }
     
 .cabecalho_titulo{
        font-size: 50px; }
                 
 .cabecalho_lista_item{
       margin: 25px 0px 25px 0px; 
       font-size: 16px; }
       
 .apresentaçao_trabalho{ 
       display: flex;
       justify-content: space-around;
       align-items: center;
       padding: 24px 0; }
        
 .titulo_apresentaçao_trabalho{
        font-size: 30px;}
 
 .imagem_pimenta{
       width: 30%; }
       
 li {
   list-style-type: none;
   display: block;
}

a :hover {
       cursor: pointer;
       color: red;
}

a {
       color: black;
}

.titlereceita h1{
        align-items: center;
}